@use "sass:color";
@use "variables" as *;

.btn {
  padding: 10px 20px;
  background: $primary-color;
  color: $secondary-color;
  border-radius: calc($border-radius-default/2);
  transition: background 0.3s;

  &:hover {
    background: color.adjust($primary-color, $lightness: 15%);
  }
}

.btn-secondary {
  background: $secondary-color;
  padding: 10px 20px;
  border-radius: 4%;
  transition: background 0.3s;
  border: 1px solid $detail-color;

  &:hover {
    background: color.adjust($secondary-color, $lightness: -10%);
  }
}
