@use "sass:math";
@use "mixins" as *;
@use "variables" as *;

.container {
  width: 100%;
  max-width: $max-width-lg;
  margin: 0 auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: $row-gap;
}

[class^="col-"] {
  padding: 8px 0;
}

@include responsive(xs) {
  [class^="col-"] {
    width: 100%;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc((100% / 12) * #{$i} - #{$row-gap});
  }
}

@include responsive(md) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: calc((100% / 12) * #{$i} - #{$row-gap});
    }
  }
}

@include responsive(sm) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: calc((100% / 12) * #{$i} - #{$row-gap});
    }
  }
}

@include responsive(xs) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: 100%;
    }
  }
}
