$primary-color: #000000;
$secondary-color: #ffffff;
$detail-color: #8080802f;
$background-color: #f8f9fa;
$text-color: #333;

$max-width-lg: 1400px;
$max-width-md: 900px;
$max-width-sm: 600px;

$breakpoint-lg: 1400px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;

$row-gap: 8px;

$margin-bottom: 1.5rem;
