@use "@/assets/scss/variables" as *;
@use "@/assets/scss/typography" as *;

.filterBtn {
  border: 1px solid $detail-color;
  padding: 8px;
  border-radius: $border-radius-default;
  gap: 5px;

  .filterLogo {
    width: 15px;
  }

  p {
    font-size: small;
    font-weight: 600;
  }
}

.filterItens li {
  font-weight: $font-weight-semibold;
  border: 1px solid $detail-color;
  padding: 8px;
  border-radius: calc($border-radius-default * 3);
  font-size: small;
}
