@use "../../assets/scss/variables" as *;

.filterBtn {
  border: 1px solid $detail-color;
  padding: 8px;
  border-radius: 8px;
  gap: 5px;

  .filterLogo {
    width: 15px;
  }

  p {
    font-size: small;
    font-weight: 600;
  }
}

.filterItens li {
  font-weight: 500;
  border: 1px solid $detail-color;
  padding: 8px;
  border-radius: 24px;
  font-size: small;
}
