@use "@/assets/scss/mixins" as *;
@use "@/assets/scss/variables" as *;

@include responsive(lg) {
  [class^="col-"] {
    width: 100%;
  }
}

.pos_relative {
  position: relative;

  .imgPos {
    position: absolute;
    bottom: 26%;
    left: 12px;
    width: 15px;
  }

  input {
    padding-left: 32px;
    font-size: small;
    border-radius: $border-radius-default;
    border: 1px solid $detail-color;

    &:focus {
      outline: 2px solid $detail-color;
    }
  }
}
