@use "@/assets/scss/variables" as *;
@use "@/assets/scss/typography" as *;

.headerNav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $detail-color;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .headerNav_logo {
    @include heading-3;
  }

  .headerNav_menu {
    @include text-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
